<h1>New Author</h1>

<%= form_with model: @author do |form| %>
  <div>
    <%= form.label :first_name %><br>
    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :last_name %><br>
    <%= form.text_area :last_name %>
  </div>
  
  <div>
   <%= form.label :dob %><br>
   <%= form.text_area :dob %>
 </div>

  <div>
   <%= form.label :email %><br>
   <%= form.text_area :email %>
  </div>

  

  <div>
    <%= form.submit %>
  </div>
<% end %>
